<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" immediate="true" name="org.eclipse.ote.simple.io.manager.SimpleNamespaceMapper">
   <implementation class="org.eclipse.ote.simple.io.manager.SimpleNamespaceMapper"/>
   <service>
      <provide interface="org.eclipse.ote.message.manager.NamespaceMapper"/>
   </service>
</scr:component>
