<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ote.client.ui.prompt.PromptView"
            id="org.eclipse.ote.client.ui.prompt"
            category="osee.test.category"
            name="OTE Prompt"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.osee.framework.ui.skynet.OseePreferencePage"
            class="org.eclipse.ote.client.ui.PromptViewPreferencePage"
            id="org.eclipse.ote.client.ui.PromptViewPreferencePage"
            name="OTE Prompt View">
      </page>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.plugin.XNavigateItemProvider">
      <XNavigateItemProvider
            classname="org.eclipse.ote.client.ui.core.ConnectionNavigatorItem">
      </XNavigateItemProvider>
   </extension>


</plugin>
