<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category
         name="OTE Messaging"
         id="org.eclipse.ote.ui.messaging">
      </category>
      <view
         allowMultiple="false"
         category="org.eclipse.ote.ui.messaging"
         class="org.eclipse.ote.ui.message.view.MessageSearchView"
         icon="images/glasses.gif"
         id="org.eclipse.ote.ui.message.view.MessageSearchView"
         name="Message Search"
         restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.osee.framework.ui.plugin.XNavigateItem">
      <XNavigateItem
         classname="org.eclipse.ote.ui.message.view.internal.MessageNavigateViewItems"
         category="Messaging"
         viewId="org.eclipse.osee.ote.ui.navigate.OteNavigateView">
      </XNavigateItem>
   </extension>
</plugin>
