<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="OTE Messaging"
            id="org.eclipse.ote.ui.messaging">
      </category>
      <view
            allowMultiple="true"
            category="org.eclipse.ote.ui.messaging"
            class="org.eclipse.ote.ui.eviewer.view.ElementViewer"
            icon="OSEE-INF/images/element_viewer.gif"
            id="org.eclipse.ote.ui.eviewer.view.ElementViewer"
            name="Element Viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.plugin.XNavigateItemProvider">
      <XNavigateItemProvider
            classname="org.eclipse.ote.ui.eviewer.view.MessageNavigateViewItems">
      </XNavigateItemProvider>
   </extension>

</plugin>
