<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category
         name="OTE Messaging"
         id="org.eclipse.ote.ui.messaging">
      </category>
      <view
         allowMultiple="false"
         category="org.eclipse.ote.ui.messaging"
         class="org.eclipse.ote.ui.message.search.MessageSearchView"
         icon="OSEE-INF/images/glasses.gif"
         id="org.eclipse.ote.ui.message.search.MessageSearchView"
         name="Message Search"
         restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.plugin.XNavigateItemProvider">
      <XNavigateItemProvider
            classname="org.eclipse.ote.ui.message.search.internal.MessageNavigateViewItems">
      </XNavigateItemProvider>
   </extension>
</plugin>
